.root {
    -fx-font-family: "Verdana";
}

.panel-win {
    -fx-padding: 30;
    -fx-background-color: rgba(0, 0, 0, 0.55);
    -fx-background-radius: 22;
    -fx-border-color: rgba(255, 255, 255, 0.20);
    -fx-border-radius: 22;
    -fx-border-width: 2;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.55), 35, 0.2, 0, 10);
}

.title-win {
    -fx-font-size: 64px;
    -fx-text-fill: white;
    -fx-font-weight: 800;
}

.subtitle-win {
    -fx-font-size: 18px;
    -fx-text-fill: rgba(255,255,255,0.92);
    -fx-padding: 0 20 10 20;
}

.btn-primary {
    -fx-font-size: 16px;
    -fx-font-weight: 700;
    -fx-text-fill: #0b1220;
    -fx-background-radius: 14;
    -fx-padding: 10 18 10 18;
}

.btn-secondary {
    -fx-font-size: 16px;
    -fx-font-weight: 700;
    -fx-text-fill: white;
    -fx-background-color: rgba(255,255,255,0.14);
    -fx-background-radius: 14;
    -fx-padding: 10 18 10 18;
}

.button:hover {
    -fx-effect: dropshadow(gaussian, rgba(255,255,255,0.20), 18, 0.2, 0, 0);
    -fx-scale-x: 1.02;
    -fx-scale-y: 1.02;
}
