/* ================================
   ESTILOS BASE DE LA VENTANA
================================ */


.tablero-maquina-pane {
    -fx-background-color: #9ec3d1;
    -fx-font-family: "Arial Rounded MT Bold", Arial, sans-serif;
    -fx-padding: 20;
}

/* ================================
   ESTILOS DEL GRIDPANE (EL TABLERO)
================================ */

.tablero-grid {

    -fx-background-color: #7bb5cc;
    -fx-border-color: #2f5569;
    -fx-border-width: 3;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.4), 10, 0.4, 3, 3); /* Sombra más fuerte para que parezca elevado */
}

/* ================================
   ESTILOS DE LAS CELDAS INDIVIDUALES
================================ */


.celda-base {
    -fx-background-color: #a4d3e8;
    -fx-border-color: #6a9eb5;
    -fx-border-width: 1;
}


.celda-agua {
    -fx-background-color: #3b82f6;
    -fx-border-color: #1e3a8a;
}


.celda-tocado {
    -fx-background-color: #dc2626;
    -fx-border-color: #991b1b;
}


.celda-hundido {
    -fx-background-color: #7f1d1d;
    -fx-border-color: #450a0a;
}


.label-coordenada {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: #1d1d1d;
}